<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository>/home/volume/.m2/repository</localRepository>
  <interactiveMode>true</interactiveMode>
  <usePluginRegistry>false</usePluginRegistry>
  <offline>false</offline>
  <servers>
    <server>
      <id>betting-snapshots</id>
      <username>pgt-ita-automation</username>
      <password>pgt-ita-automation2020</password>
    </server>
    <server>
      <id>betting-releases</id>
      <username>pgt-ita-automation</username>
      <password>pgt-ita-automation2020</password>
    </server>
    <server>
      <id>maven-releases</id>
      <username>nexus-betting</username>
      <password>Betting</password>
    </server>

    <server>
      <id>maven-snapshots</id>
      <username>nexus-betting</username>
      <password>Betting</password>
    </server>

    <server>
      <id>sisal-releases</id>
      <username>nexus-betting</username>
      <password>Betting</password>
    </server>

    <server>
      <id>sisal-snapshots</id>
      <username>nexus-betting</username>
      <password>Betting</password>
    </server>

    <server>
      <id>smc-releases</id>
      <username>nexus-betting</username>
      <password>Betting</password>
    </server>
  </servers>
  <mirrors>
    <mirror>
      <id>MavenCentral</id>
      <url>http://nexus-ita.nplts.sisal.it/repository/maven-public/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
    <mirror>
      <id>repo</id>
      <name>repo</name>
      <url>http://10.29.11.26:10081/repository/maven-public/</url>
      <mirrorOf>central</mirrorOf>
    </mirror>
    <mirror>
      <id>central</id>
      <name>central</name>
      <url>http://10.29.11.26:10081/repository/maven-central/</url>
      <mirrorOf>central</mirrorOf>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <id>sisal</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
        <mvnRepoUrl>http://10.29.11.26:10081</mvnRepoUrl>
      </properties>
      <repositories>

        <repository>
          <id>betting-releases</id>
          <url>http://nexus-ita.nplts.sisal.it/repository/betting-release/</url>
          <layout>default</layout>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <releases>
            <enabled>true</enabled>
          </releases>
        </repository>
        <repository>
          <id>betting-snapshots</id>
          <url>http://nexus-ita.nplts.sisal.it/repository/betting-snapshot/</url>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <releases>
            <enabled>false</enabled>
          </releases>
        </repository>
        <repository>
          <id>MavenCentral</id>
          <url>http://nexus-ita.nplts.sisal.it/repository/maven-public/</url>
        </repository>

      </repositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>sisal</activeProfile>
  </activeProfiles>
</settings>
